{% extends "layout.html" %}
{% set bodyId = "contentIdeias" %}

{% block title %}
    <title>
        ideia de cu é rola
    </title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/ideias.css">
{% endblock styles %}

{% block contentPage %}



    <header>
    
        <img src="/images/logo.png"
             alt="Logo do site">

        <ul>
            <li><a href="/">Inicio</a></li>
            <li><button onclick="onOff()">Nova ideia</button></li>
        </ul>


    </header>
    <main>
    {% for ideias in ideia %}
        <div class="ideia">
                
                <img src={{ideias.image}}
                     alt="{{ideias.title}}">
                <div class="content-ideia">
                
                <h1>{{ideias.title}}</h1>
                <h2>{{ideias.category}}</h2>
                <div class="content-text-ideia">
                    <p>
                       {{ideias.description}}
                    </p>
                </div>
                <a href="{{ideias.url}}">Ir para ideia</a>
                
                </div>
                
    
        </div>
    {% endfor %}
    </main>
{% endblock contentPage %}


{% block modal %}
    {% include "partials/modal.html"%}
{% endblock modal %}

{% block scripts %}
    <script src="scripts/formActivate.js"></script>
{% endblock scripts %}