{% extends "layout.html" %}
{% set bodyId = "contentMain" %}


{% block title %}
    <title>
        Casa Criativa
    </title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock styles %}

{% block contentPage %} 
    <div class="contentPage">
        <div class="content-left">
            <header>
                <img src="/images/logo.png"
                     alt="Logo do projeto">
             </header>    
                 
                 <div class="content-text">
                 
                    <p>
                    Ficar em casa em períodos longos não deve ser nada fácil.
                    </p>
                    <p>
                    Por isso, iremos catalogar ideias, <strong>brincadeiras, jogos, filmes, livros, cursos, dicas</strong>
                    e tudo o que for necessário para tornar esse momento mais interessante.                 
                    </p>
                    <p>
                    Comece clicando em ver ideias para ver as ideias cadastradas e contribua adicionando a sua ideia.
                    </p>   
                 
                 </div>

                 <div class="buttons">
                 
                    <button id="addIdeia" onclick="onOff()">+ Adicionar ideia</button>
                    <a href="/ideias"><button id="viewIdea">Ver ideias</button></a>
                 
                 </div>

                 <footer>
                    Com amor, <strong>Rockeatseat</strong>
                 </footer>
                 
            
            
        
        
        </div>
        <div class="content-right">
            
            <div class="ideia">
                
                <img src=""
                     alt="">
                <div class="content-ideia">
                
                <h1>.nome da ideia.</h1>
                <h2>.Sub-nome da ideia.</h2>
                <div class="content-text-ideia">
                    <p>
                        .Descrição da ideia.
                    </p>
                </div>
                <a href="#">Ir para ideia</a>
                
                
                </div>
                
    
            </div>
            <div class="ideia">
                
                <img src=""
                     alt="">
                <div class="content-ideia">
                
                <h1>.nome da ideia.</h1>
                <h2>.Sub-nome da ideia.</h2>
                <div class="content-text-ideia">
                    <p>
                        .Descrição da ideia.
                    </p>
                </div>
                <a href="">Ir para ideias</a>
                
                
                </div>
                
    
            </div>
        </div>
    </div>
    
{% endblock contentPage %}
 {% block modal %}
    {% include "partials/modal.html"%}
 {% endblock modal %}

 {% block scripts %}
    <script src="/scripts/formActivate.js"></script>
 {% endblock scripts %}
    