#modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    padding: 0
}

#modal.hide {
    display: none;
    background-color: black;
}

#modal form {
    display: flex;
    flex-direction: column;
    background: #5971db;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#modal form input {
    display: flex;
    flex: 1;
}

#modal form .field-group {
    display: flex;
}

#modal form .field {
    display: flex;
    flex-direction: column;
}

#modal .buttons-modal {
    display: flex;
    justify-content: space-between;
}

#modal .buttons-modal a {
    outline: none;
    text-decoration: none;
}